
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StyleCaster VMO Project</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/js/libs/Jcrop/css/jquery.Jcrop.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
    <link rel="stylesheet" href="assets/css/swiper.css">
    <script type="text/javascript">
      /**
       * Protect window.console method calls, e.g. console is not defined on IE
       * unless dev tools are open, and IE doesn't define console.debug.. 
       */
      (function() {
        if (!window.console) {
          window.console = {};
        }
        // union of Chrome, FF, IE, and Safari console methods
        var m = [
          "log", "info", "warn", "error", "debug", "trace", "dir", "group",
          "groupCollapsed", "groupEnd", "time", "timeEnd", "profile", "profileEnd",
          "dirxml", "assert", "count", "markTimeline", "timeStamp", "clear"
        ];
        // define undefined methods as noops to prevent errors
        for (var i = 0; i < m.length; i++) {
          if (!window.console[m[i]]) {
            window.console[m[i]] = function() {};
          }    
        } 
      })();
      
    </script><!--[if lt IE 9]>
    <script src="assets/js/libs/html5shiv.js"></script>
    <script src="assets/js/libs/respond.min.js"></script><![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </head>
  <!-- Home route is enabled by default-->
  <!-- Loader is shown when the application starts-->
  <body class="route-home loading non-us-market scvmo en"><!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: 2014 AO Colors Studio Suite
URL of the webpage where the tag is expected to be placed: http://www.airoptix.com/colors/color-studio.shtml
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 06/17/2014
-->
<script type="text/javascript">
console.log('2014 AO Colors Studio Suite');
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://3576711.fls.doubleclick.net/activityi;src=3576711;type=2014a860;cat=2014a534;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://3576711.fls.doubleclick.net/activityi;src=3576711;type=2014a860;cat=2014a534;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    <div class="header">
      <h1 class="main-title">makeover</h1>
      <div class="main-nav-block">
        <div class="open-menu"></div><span class="main-window-tabs-current-tab">
          <div class="current-tab home">HOME</div>
          <div class="current-tab one-click">1-CLICK LOOKS</div>
          <div class="scroll-button scroll-button-next mobile-visible"></div>
                  <div class="color-studio-navigation wrapper main-nav">
                    <!--Nav tabs-->
                    <ul class="color-studio-navigation face">
                      <li><a href="#21" data-toggle="tab" data-trace-mode="21">Foundation</a></li>
                      <li><a href="#23" data-toggle="tab" data-trace-mode="23">Concealer</a></li>
                      <li><a href="#7" data-toggle="tab" data-trace-mode="7">Blush</a></li>
                      <li><a href="#22" data-toggle="tab" data-trace-mode="21">POWDER</a></li>
                    </ul>
                    <ul class="color-studio-navigation eyes">
                      <li><a href="#4" data-toggle="tab" data-trace-mode="4">EYE SHADOW</a></li>
                      <li><a href="#5" data-toggle="tab" data-trace-mode="5">Eyeliner</a></li>
                      <li><a href="#53" data-toggle="tab" data-trace-mode="53">Eyebrows</a></li>
                      <li><a href="#6" data-toggle="tab" data-trace-mode="5">Mascara</a></li>
                    </ul>
                    <ul class="color-studio-navigation lips">
                      <li><a href="#1" data-toggle="tab" data-trace-mode="1">Lipstick</a></li>
                      <li><a href="#2" data-toggle="tab" data-trace-mode="1">Lip Gloss</a></li>
                      <li><a href="#3" data-toggle="tab" data-trace-mode="1">Lip Liner</a></li>
                    </ul>
                    <ul class="color-studio-navigation eyewear">
                      <li><a href="#9" data-toggle="tab" data-trace-mode="9">Glasses</a></li>
                      <li><a href="#10" data-toggle="tab" data-trace-mode="9">Sunglasses</a></li>
                    </ul>
                    <ul class="color-studio-navigation jewelry">
                      <li><a href="#26" data-toggle="tab" data-trace-mode="26">Earrings</a></li>
                      <li><a href="#25" data-toggle="tab" data-trace-mode="25">Necklaces</a></li>
                    </ul>
                    <ul class="color-studio-navigation headwear">
                      <li><a href="#11" data-toggle="tab" data-trace-mode="11">HEADWEAR</a></li>
                      <li><a href="#24" data-toggle="tab" data-trace-mode="24">Hair Clips</a></li>
                    </ul>
                    <ul class="color-studio-navigation hairstyles">
                      <li><a href="#34" data-toggle="tab" data-trace-mode="34">Hair</a></li>
                      <li><a href="#16" data-toggle="tab" data-trace-mode="34">Hair Color</a></li>
                    </ul>
                  </div></span>
        <ul class="main-window-tabs">
          <li class="welcome-screen"><a href="#">HOME</a></li>
          <li class="face"><a href="#select-face">FACE</a></li>
          <li class="eyes"><a href="#select-eyes">EYES</a></li>
          <li class="lips"><a href="#select-lips">LIPS</a></li>
          <li class="hairstyles"><a href="#select-hairstyles">HAIR</a></li>
          <li class="one-click-look"><a href="#1-click-look">1-CLICK LOOKS</a></li>
        </ul>
      </div>
    </div>
    <main class="">   
      <div class="color-studio-screen">
        <div id="work-page" class="page">
          <div class="color-studio-logo"></div>
          <div class="views-wrapper">
            <!-- WELCOME PAGE-->
            <div id="welcome-page" class="page on">
              <div class="use-own-photo">
                <ul></ul>
              </div>
              <div class="select-face">
                <h2>Choose a Model</h2>
                <div class="faces-list-wrapper">
                  <div class="swiper-container faces-list-container">
                    <ul id="faces-list" class="swiper-wrapper"></ul>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div><span class="delimeter-text"><span>OR</span></span>
              </div>
              <script id="select-photo-tpl" type="text/template">
                <li class="upload-photo">
                  <input id="upload" type="file" accept="image/*"><span>Upload your own photo</span>
                  <div class="background-image"></div>
                </li>
                <!--li.from-facebook-->
                <!--    span From facebook-->
              </script>
              <!-- Items of Faces List-->
              <!-- @param array aFaces-->
              <!-- @param integer iSelectedId-->
              <script id="faces-list-items-tpl" type="text/template"><% _.each(aFaces, function(oFace) { %>
                <li data-face-id="<%= oFace.id %>" class="swiper-slide <%= (iSelectedId == oFace.id) ? 'on' : '' %>"><span><img src="assets/images/models/<%= oFace.label %>_md_white.jpg">
                    <div class="face-hover">Select</div></span></li><% }); %>
              </script>
            </div>
            <!--FACE PRODUCTS VIEW-->
            <div id="select-face-view" class="view">
              <div id="face" class="tab-content select-product-line"></div>
            </div>
            <!--EYES PRODUCTS VIEW-->
            <div id="select-eyes-view" class="view">
              <div id="eyes" class="tab-content select-product-line"></div>
            </div>
            <!--EYES PRODUCTS VIEW-->
            <div id="select-lips-view" class="view">
              <div id="lips" class="tab-content select-product-line"></div>
            </div>
            <!--EYES PRODUCTS VIEW-->
            <div id="select-hairstyles-view" class="view">
              <div id="hairstyles" class="tab-content select-product-line"></div>
            </div>
            <!--FACE PRODUCTS VIEW-->
            <div id="select-product-wrapper">
              <div class="product-line"><img class="product-line">
                <div class="title-wrapper"></div>
                <div class="wrapper">
                  <div class="brand"><span class="brand-label">Brand:</span><span class="brand-value"></span></div>
                  <div class="product-title"><span class="title-label">Product Line:</span><span class="title-value"></span></div>
                  <div class="shade"><span class="shade-label">Shade:</span><span class="shade-value"></span></div>
                </div>
                <div class="styles blush"><a data-style-number="1" href="javascript:;" class="active"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="0" class="area active">1</li>
                      </ul></span></a><a data-style-number="2" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="1" class="area active">1</li>
                      </ul></span></a><a data-style-number="3" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="2" class="area active">1</li>
                      </ul></span></a><a data-style-number="4" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="1" class="area active">1</li>
                        <li data-area-id="1" data-style-id="0" class="area">2</li>
                      </ul></span></a></div>
                <div class="styles eyeshadow"><a data-style-number="1" href="javascript:;" class="active"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="0" class="area active">1</li>
                      </ul></span></a><a data-style-number="2" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="1" class="area active">1</li>
                        <li data-area-id="1" data-style-id="1" class="area">2</li>
                        <li data-area-id="2" data-style-id="1" class="area">3</li>
                      </ul></span></a><a data-style-number="3" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="2" class="area active">1</li>
                        <li data-area-id="1" data-style-id="2" class="area">2</li>
                        <li data-area-id="2" data-style-id="2" class="area">3</li>
                      </ul></span></a><a data-style-number="4" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="3" class="area active">1</li>
                        <li data-area-id="1" data-style-id="3" class="area">2</li>
                      </ul></span></a></div>
                <div class="styles eyeliner"><a data-style-number="1" href="javascript:;" class="active"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="0" class="area active">1</li>
                      </ul></span></a><a data-style-number="2" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="1" class="area active">1</li>
                      </ul></span></a><a data-style-number="3" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="2" class="area active">1</li>
                      </ul></span></a><a data-style-number="4" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="3" class="area active">1</li>
                      </ul></span></a></div>
                <div class="styles mascara"><a data-style-number="1" href="javascript:;" class="active"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="0" class="area active">1</li>
                      </ul></span></a><a data-style-number="2" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="1" class="area active">1</li>
                      </ul></span></a></div>
                <div class="styles lipliner"><a data-style-number="1" href="javascript:;" class="active"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="0" class="area active">1</li>
                      </ul></span></a><a data-style-number="2" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="1" class="area active">1</li>
                      </ul></span></a><a data-style-number="3" href="javascript:;"><span>
                      <ul class="areas">
                        <li data-area-id="0" data-style-id="2" class="area active">1</li>
                      </ul></span></a></div>
              </div>
              <div class="products-list"></div>
              <!--Nav tabs--><a href="javascript:void(0)" class="back-to-product-lines">< Back</a>
              <!-- Items of Product Lines List-->
              <!-- @param array aProductLines-->
              <script id="products-list-items-tpl" type="text/template">
                <div class="products swiper-container">
                  <ul class="swiper-wrapper"><% _.each(aProducts, function(oProduct) { %>
                    <li data-product-id="<%= oProduct.key %>" class="swiper-slide <% if (oProduct.key == iActiveProductId) { print('active') } %>"><i>
                        <div style="<%= 'background-color:#'+Alcon.Utils.Helpers.fnRgbToHex(oProduct.rgb)+'; background-image: url(' + oProduct.thumbnails.small + ')' %>" data-color="<%=Alcon.Utils.Helpers.fnRgbToHex(oProduct.rgb)%>" class="product-preview"></div></i></li><% }); %>
                  </ul>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </script>
            </div>
            <!--SELECT ONE CLICK LOOK-->
            <div id="select-click-look-view" class="view">
              <!--Tab panes-->
              <div class="tab-content select-click-look">
                <div class="tab-pane click-look-list">
                  <div class="click-looks swiperContainer">
                    <ul class="swiper-wrapper"></ul>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
              </div>
              <!-- Items of Product Lines List-->
              <!-- @param array aProductLinesCategories-->
              <script id="click-look-list-items-tpl" type="text/template"><% _.each(aClickLooks, function(oClickLook) { %>
                <li data-click-look-id="<%= oClickLook.id %>" class="swiper-slide">
                  <div class="product-lines__wrapper"><i><img src="<%= oClickLook.thumbnail %>"></i>
                    <div class="product-lines__label-wrapper"><span style="visibility: hidden;" class="product-lines__label"><%= oClickLook.label %></span></div>
                  </div>
                </li><% }); %>
              </script>
            </div>
          </div>
        </div>
        <div class="accounting">
          <p>Register or login into EyeFile&trade; to save or share your look, and to receive a free<sup>&#8224;</sup> in-office trial.</p>
          <div class="register-login"><a href="javascript:void(0);" class="register-link">Register in Eyefile&trade;</a><a href="javascript:void(0);" class="login-link">Log in to Eyefile&trade;</a>
            <div class="clearfix"></div>
          </div>
          <div class="logout"><a href="javascript:void(0);" class="logout-link">Logout</a></div>
        </div>
        <!-- #vme will be replaced with SWF object. So we have to wrap it with another DIV-->
        <div id="vme-wrapper">
          <div class="scroll-wrapper"></div>
          <div class="vme-placeholder">
            <div class="home-screen swiper-container swiper-desktop">
              <div class="swiper-wrapper"><img src="assets/images/vme-placeholder-emma-stone.jpg" class="swiper-slide swiper-no-swiping"><img src="assets/images/vme-placeholder-hailee-steinfeld.jpg" class="swiper-slide swiper-no-swiping"><img src="assets/images/vme-placeholder-emma-roberts.jpg" class="swiper-slide swiper-no-swiping"></div>
            </div>
            <div class="home-screen swiper-container swiper-mobile">
              <div class="swiper-wrapper"><img src="assets/images/vme-placeholder-emma-stone-mobile.jpg" class="swiper-slide swiper-no-swiping"><img src="assets/images/vme-placeholder-hailee-steinfeld-mobile.jpg" class="swiper-slide swiper-no-swiping"><img src="assets/images/vme-placeholder-emma-roberts-mobile.jpg" class="swiper-slide swiper-no-swiping"></div>
            </div>
            <div class="vme-placeholder-text">
              <div class="vme-placeholder-title"><span>Test-Drive</span><br><span>Your Favorite</span><br><span>Celeb Looks</span></div>
              <div class="vme-placeholder-slogan desktop"><span>Give yourself a virtual makeover</span><br><span>with celebrity hairstyles, makeup</span><br><span>and accessories.</span></div>
              <div class="vme-placeholder-slogan mobile"><span>Give yourself a<br>virtual makeover<br>with celebrity<br>hairstyles, makeup<br>and accessories.  </span></div><a href="#select-hairstyles" class="vme-placeholder-btn">START YOUR MAKEOVER</a>
            </div>
            <p><strong>For best results, use a plain background with bright, even lighting. Do not wear hats or glasses and use a focus that is straight-on and does not place a shadow on your eyes.</strong></p>
          </div>
          <div class="faceMappingAppContainer">
            <div class="mask">
              <div class="imageTrace"></div>
              <canvas id="myCanvas" style="position: absolute; pointer-events:none;"></canvas>
            </div>
            <div class="vme-controls"><a href="javascript:;" data-toggle="tooltip" class="cancel">Reset</a></div>
          </div>
          <div id="vme-container" class="html5-vme">
            <div id="vme">
              <div id="vme-to-replace"></div>
            </div>
            <div class="vme-controls vme-controls--top vme-controls--right"><a href="javascript:;" data-toggle="tooltip" class="share"></a></div>
            <div class="vme-controls"><a href="javascript:;" data-toggle="tooltip" class="retrace">ADJUST</a><a href="javascript:;" data-toggle="tooltip" class="cancel">Reset</a><a href="javascript:;" data-toggle="tooltip" class="zoom-in"></a><a href="javascript:;" data-toggle="tooltip" class="zoom-out"></a><a href="javascript:;" data-toggle="tooltip" class="before-after">BEFORE/AFTER</a><a href="javascript:;" data-toggle="tooltip" class="clear">REMOVE</a><a href="javascript:;" class="reset-btn">RESET</a></div>
            <div class="before-after-img">
              <div class="after"><img></div>
              <div class="before"><img></div>
            </div>
            <canvas id="save-share-canvas" width="1275px" height="1650px" class="d-none"></canvas>
          </div>
          <div id="what-i-am-wearing">
            <h2 class="heading-block">WHAT I'M WEARING</h2>
            <div class="what-i-am-wearing-content">
              <div class="products-block"></div>
              <!-- Items of Product Lines List-->
              <script id="active-product-item-tpl" type="text/template">
                <div data-feature-id="<%= oProduct.feature %>" data-area-id="<%= oProduct.area %>" data-id="<%= oProduct.key %>" class="products-block item">
                  <div class="product">
                    <div class="product item">
                      <div class="product header">
                        <div class="product button remove"></div>
                      </div>
                      <div style="background-image: url(<% if (typeof(oProduct.image) !== 'undefined' && oProduct.image !== '') { print(oProduct.image) } else { print(oProduct.thumbnail) } %>)" class="product image"></div>
                      <div class="product info">
                        <div class="product shade">
                          <div class="product brand-label"><span>Brand: </span><%= oProduct.description %></div>
                          <div class="product title-label"><span>Product Line: </span><%= oProduct.plLabel %></div>
                          <div class="product shade-label"><span>Shade: </span><% if (typeof(oProduct.label) !== 'undefined'){ print(oProduct.label) } else { print(oProduct.productname) } %></div>
                        </div>
                      </div>
                    </div>
                    <div class="product buttons"><% if (oProduct.buyurl != undefined && oProduct.buyurl != ''){ %><a href="<%= oProduct.buyurl %>" target="_blank" class="product button buy">Buy</a><% } %></div>
                  </div>
                </div>
              </script>
            </div>
          </div>
          <div id="retrace" class="retrace-block clearfix">
            <!--.retrace-block__style
            //h2.retrace-block__header Style
            //.retrace-block__styles-list
            //  .retrace-block__style-example.retrace-block__style-1
            //  .retrace-block__style-example.retrace-block__style-2.active
            -->
            <div class="retrace-block__retrace">
              <h2 class="retrace-block__header">RETRACE</h2><span class="retrace-block__description">Click and drag the points to refine placement, or use the tools below. Double click to add a new point.</span>
              <div class="retrace-block__controls-wrapper">
                <div class="retrace-block__group">
                  <div class="retrace-block__controls width">
                    <div class="retrace-block__controls-caption">WIDTH</div>
                    <ul class="retrace-block__controls-buttons">
                      <li data-direction="width-minus" class="retrace-block__button retrace-block__button--width retrace-block__button--minus"></li>
                      <li data-direction="width-plus" class="retrace-block__button retrace-block__button--width retrace-block__button--plus"></li>
                    </ul>
                  </div>
                  <div class="retrace-block__controls length">
                    <div class="retrace-block__controls-caption">LENGTH</div>
                    <ul class="retrace-block__controls-buttons">
                      <li data-direction="length-minus" class="retrace-block__button retrace-block__button--length retrace-block__button--minus">
                        <li data-direction="length-plus" class="retrace-block__button retrace-block__button--length retrace-block__button--plus"></li>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="retrace-block__group">
                  <div class="retrace-block__controls size">
                    <div class="retrace-block__controls-caption">SIZE</div>
                    <ul class="retrace-block__controls-buttons">
                      <li data-direction="size-minus" class="retrace-block__button retrace-block__button--size retrace-block__button--minus">
                        <li data-direction="size-plus" class="retrace-block__button retrace-block__button--size retrace-block__button--plus"></li>
                      </li>
                    </ul>
                  </div>
                  <div class="retrace-block__controls rotate">
                    <div class="retrace-block__controls-caption">Rotate</div>
                    <ul class="retrace-block__controls-buttons">
                      <li data-direction="rotate-left" class="retrace-block__button retrace-block__button--rotate retrace-block__button--rotate-left">
                        <li data-direction="rotate-right" class="retrace-block__button retrace-block__button--rotate retrace-block__button--rotate-right"></li>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="retrace-block__group">
                  <div class="retrace-block__controls move">
                    <div class="retrace-block__controls-caption">Up/Down</div>
                    <ul class="retrace-block__controls-buttons">
                      <li data-direction="move-up" class="retrace-block__button glyphicon glyphicon-arrow-up"></li>
                      <li data-direction="move-down" class="retrace-block__button glyphicon glyphicon-arrow-down"></li>
                    </ul>
                  </div>
                  <div class="retrace-block__controls move">
                    <div class="retrace-block__controls-caption">Left/Right</div>
                    <ul class="retrace-block__controls-buttons">
                      <li data-direction="move-left" class="retrace-block__button glyphicon glyphicon-arrow-left"></li>
                      <li data-direction="move-right" class="retrace-block__button glyphicon glyphicon-arrow-right"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="retrace-block__controls retrace-block__controls--mobile-position no-margin text-center">
              <div class="retrace-block__button retrace-block__button--next">Next</div>
              <div class="retrace-block__button retrace-block__button--adjust-done">Done</div>
              <div class="retrace-block__button retrace-block__button--done">Done</div>
            </div>
            <div class="retrace-block__retrace-example"></div>
          </div>
          <!-- We have duplicates of Save and Share buttons here to replace the original buttons with Inactive-->
          <!-- We use this approach because it's easier to maintain and we don't need to think about switching classes each time when something was happened,-->
          <!-- just use the CSS to show/hide proper buttons-->
          <div id="share" class="disabled">
            <h4 class="share__heading">Share</h4><a href="javascript:void(0);" class="share__close"></a>
            <ul class="share__list">
              <li class="share__list-item"><a href="javascript:void(0);" class="download">
                  <div class="share__icon share__icon--download"></div>
                  <div class="share__label share__label--download">DOWNLOAD YOUR LOOK</div></a></li>
              <li class="share__list-item"><a href="javascript:void(0);" class="facebook">
                  <div class="share__icon share__icon--facebook"></div>
                  <div class="share__label share__label--facebook">Facebook</div></a></li>
              <li class="share__list-item"><a target="_parent" href="javascript:void(0);" class="email">
                  <div class="share__icon share__icon--email"></div>
                  <div class="share__label share__label--email">Email</div></a></li>
            </ul>
          </div>
        </div>
        <div id="webcam-wrapper">
          <div id="webcam-container">
            <div id="webcam">
              <div id="webcamFlash"></div>
              <div id="webcam-face-grid"></div>
            </div>
            <div class="webcam-controls"><a href="javascript:;" data-toggle="tooltip" title="Show/Hide Guides" class="show-guides"></a><a href="javascript:;" data-toggle="tooltip" title="Take Photo" class="take-photo"></a>
              <div style="display: none;" class="submit-photo"><a href="javascript:;" data-toggle="tooltip" title="Take Another" class="take-another"></a>
                <div class="separator"></div><a href="javascript:;" data-toggle="tooltip" title="Use This Photo" class="use-this"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- UPLOAD PHOTO VIEW-->
        <div id="upload-photo-wrapper">
          <div id="upload-photo-container">
            <div id="upload-photo">
              <div id="photo-wrapper">
              </div>
            </div>
            <div class="upload-controls">
              <div class="crop caption">Crop</div>
              <div class="description">Click and drag the points to refine placement, or use the tools below. Double click to add a new point.</div>
              <div class="rotate-wrapper">
                <div class="caption caption-rotate">Rotate</div>
                <div class="rotate-controls"><a href="javascript:;" data-toggle="tooltip" data-direction="left" class="rotate rotate-left"></a><a href="javascript:;" data-toggle="tooltip" data-direction="right" class="rotate rotate-right"></a></div>
              </div>
              <div class="submit-upload"><a href="javascript:;" data-toggle="tooltip" class="skip">Cancel</a><a href="javascript:;" data-toggle="tooltip" class="crop">Done</a></div>
            </div>
          </div>
          <canvas id="rotate-canvas" class="d-none"></canvas>
        </div>
        <div id="common-modal">
          <h5 id="common-modal-header"><span class="common-modal-header-text"></span><b class="close-view"><span class="close-view-icon"></span></b></h5>
          <div id="common-modal-body">
          </div>
        </div>
        <script id="download-look-tpl" type="text/template">
          <div class="download-look-wrapper">
            <p class="directive directive-default">Click on image to download.</p>
            <p style="display:none" class="directive directive-touch">Click on image to download.</p><a href="<%= sImageDataUrl %>" download="MyLook.jpg" class="cancel"><img src="<%= sImageDataUrl %>"></a>
            <div class="view-controls"><a href="javascript:void(0);" class="cancel">Cancel</a></div>
          </div>
        </script>
        <script id="autotrace-failed-tpl" type="text/template">
          <div class="autotrace-failed-wrapper">
            <div style="font-size: 14px; line-height: 18px;" class="autotrace-failed-text">Sorry, this image can not be used in the Color Studio. For best results, use a plain background with bright, even lighting. Do not wear hats or glasses and use a focus that is straight-on and does not place a shadow on your eyes.</div>
            <div class="view-controls">
              <button class="ok btn stylish">Ok</button>
            </div>
          </div>
        </script>
        <script id="share-look-tpl" type="text/template">
          <div class="share-look-wrapper">
            <ul class="my-looks">
              <li>
                <input type="checkbox" id="look-current" value="current">
                <label for="look-current"><img src="<%- sCurrentLookUrl %>">Current look</label>
              </li><% _.each(aLooks, function(oLookData) { %>
              <li>
                <input type="checkbox" id="look-<%- oLookData.id %>" value="<%- oLookData.id %>">
                <label for="look-<%- oLookData.id %>"><img src="<%- oLookData.image_url %>"><%- oLookData.label %></label>
              </li><% }); %>
            </ul>
            <div class="view-controls"><a id="cancel-share-modal" href="javascript:;">Cancel</a><a id="share-look" href="javascript:;" class="btn stylish">Share</a></div>
          </div>
        </script>
        <script id="print-look-tpl" type="text/template">
          <div class="print-look-wrapper">
            <ul class="my-looks">
              <li>
                <input type="checkbox" id="look-current" value="current">
                <label for="look-current"><img src="<%- sCurrentLookUrl %>">Current look</label>
              </li><% _.each(aLooks, function(oLookData) { %>
              <li>
                <input type="checkbox" id="look-<%- oLookData.id %>" value="<%- oLookData.id %>">
                <label for="look-<%- oLookData.id %>"><img src="<%- oLookData.image_url %>"><%- oLookData.label %></label>
              </li><% }); %>
            </ul>
            <div class="view-controls"><a id="cancel-print-modal" href="javascript:;">Cancel</a><a id="print-look" href="javascript:;" class="btn stylish">PRINT</a></div>
          </div>
        </script>
        <script id="select-download-look-tpl" type="text/template">
          <div class="select-download-look-wrapper">
            <ul class="my-looks">
              <li>
                <input type="checkbox" id="look-current" value="current">
                <label for="look-current"><img src="<%- sCurrentLookUrl %>">Current look</label>
              </li><% _.each(aLooks, function(oLookData) { %>
              <li>
                <input type="checkbox" id="look-<%- oLookData.id %>" value="<%- oLookData.id %>">
                <label for="look-<%- oLookData.id %>"><img src="<%- oLookData.image_url %>"><%- oLookData.label %></label>
              </li><% }); %>
            </ul>
            <div class="view-controls"><a id="cancel-download-modal" href="javascript:;">Cancel</a><a id="select-download-look" href="javascript:;" class="btn stylish">DOWNLOAD YOUR LOOK</a></div>
          </div>
        </script>
        <!-- Items of Product Lines List-->
        <script id="product-lines-list-items-tpl" type="text/template"><% _.each(aProductLines, function(aItems, iFeature) { %>
          <div id="<%= iFeature %>" class="tab-pane product-lines-list">
            <div class="product-lines swiper-container">
              <ul class="swiper-wrapper"><% _.each(aItems, function(oProductLine) { %>
                <li data-product-line-id="<%= oProductLine.key %>" class="swiper-slide">
                  <div class="product-lines__wrapper"><i style="<%= 'background-color:#'+Alcon.Utils.Helpers.fnRgbToHex(oProductLine.rgb)+';'%>"><% if (typeof oProductLine.image != 'undefined' && oProductLine.image != '') { %><img src="<%= oProductLine.image %>"><% } %></i>
                    <div class="product-lines__label-wrapper"><span class="product-lines__label"><%= oProductLine.description %></span><span class="product-lines__label"><%= oProductLine.label %></span></div>
                  </div>
                </li><% }); %>
              </ul>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div><% }); %>
        </script>
      </div>
      <div class="global-overlay global-loader"><span class="plate">
          <div id="circularG"></div><span class="bg-preloader"></span><span>Loading... Please wait&#8201;&#8230;</span></span></div>
      <div class="global-overlay orientation-msg"><span class="plate">
          <div id="circularG"></div><span class="bg-preloader"></span><span>Please rotate your device to continue using the Color Studio!</span></span></div>
      <div class="global-overlay canvas-unsupported-msg browser-unsupported-msg"><span class="plate">
          <div id="circularG"></div><span class="bg-preloader"></span><span>This browser is not supported.<br>Please download <a href='https://play.google.com/store/apps/details?id=com.android.chrome' target='_blank'>Google Chrome</a> for Free.</span></span></div>
      <div class="global-overlay canvas-unsupported-msg device-unsupported-msg"><span class="plate">
          <div id="circularG"></div><span class="bg-preloader"></span><span>Sorry, your browser doesn't support some of required features for this application.   </span></span></div>
    </main>
    <!-- List of Alcon AppTexts which will be used in scripts-->
    <script type="text/javascript">
      var AlconAppTexts = {
          "gaAccount": "UA-92716514-1",
          "projectWithLang": "scvmo-en",
          'facebookShareTitle4Photo': "",
          'twitterShareTitle': "Twitter Share",
          'noLens': "No lens",
          'noLens2': "Select a lens to try on",
          'subtle': "SUBTLE",
          'vibrant': "VIBRANT",
          
          "lookClassic": "CLASSIC CHIC",
          "lookGirls": "GIRLS NIGHT GLAM",
          "lookBombshell": "BOMBSHELL BEAUTY",
          "lookFresh": "FRESH AND FLIRTY",
          "lookSimple": "SIMPLE ELEGANCE",
          
          "requestFailed": "The request has failed.",
          
          "incorrectImage": "Incorrect image",
          "logIntoApp": "Please log into this app.",
          "logIntoFB": "Please log into Facebook.",
          "freeTrialOffer": "Free† trial offer",
          "freeTrialMainText": "Take the first step toward showing your most beautiful self. Ask your eye care professional about AIR OPTIX® COLORS contact lenses. Once downloaded, save the coupon image and print or save to your mobile device. Present the coupon to your eye care professional to exercise the free† trial offer.",
          "linkToCertificate": "Link to the printable certificate:",
          "couponInstructions": "Once downloaded, save the coupon image and print or save to your mobile device. Present the coupon to your eye care professional to exercise the free† trial offer.",
          "selectLookForDownload": "Select the look you want to download",
          "pinterestText": "This is me virtually trying on new color contact lenses! Visit Color Studio to find out which color looks best on you. http://bit.ly/colorcontactlenses",
          "twitterText": "This is me virtually trying on new color contact lenses! Visit Color Studio & find out which color looks best on you. http://bit.ly/colorcontactlenses",
          "messageEmailSubject": "Do you like my makeover?",
          "messageEmailBody1Look": "http://stylecastervmo.com \n [see here url]",
          "messageEmailBodyNLooks": "This is me virtually trying on new color contact lenses! Visit Color Studio to find out which color - or colors - look best on you. http://bit.ly/colorcontactlenses\r\n\r\nSee here [see here url]",
          "disclaimerTextLine1": "Important information for AIR OPTIX® COLORS (lotrafilcon B) contact lenses: For daily wear only for near/far-sightedness. Contact lenses, even if worn for cosmetic reasons, are prescription medical devices that must only be worn under the prescription, direction and supervision of an eye care professional.",
          "disclaimerTextLine2": "Serious eye health problems may occur as a result of sharing contact lenses. Although rare, serious eye problems can develop while wearing contact lenses. Side effects like discomfort, mild burning or stinging may occur. To help avoid these problems, follow the wear and replacement schedule and the lens care instructions provided by your eye doctor. CAUTION: Federal (United States) law restricts this device to sale by or on the order of a licensed eye care professional.",
          "printHeader1PhotoLine1": "This is me wearing AIR OPTIX® COLORS\ncontact lenses in [color]!",
          "printHeaderNPhotoLine1": "This is me wearing AIR OPTIX® COLORS\ncontact lenses!",
          "printHeaderLine1": "Hey! Check out my new look. What do you think?",
          "printHeaderLine2": "Check out my new look!",
          "printHeaderLine3": "Before",
          "printFooterLine": "My new look",
          "emailTemplateMessage": "Hello! I have just done a makeover that I wanted to show you. [see here url]",
          "shareDownload": "DOWNLOAD YOUR LOOK"
      };
      
    </script>
    <script>
      //- Global object thar get translated data and then return it in DataLoader
      window.GLOBAL = {}
      
      // Array of lenses, filters, frames .. and another data which are hardcoded
      // Mobile and iPad will use local assets due to HTML5 VME restrcition
      window.GLOBAL.aLenses = [
        {
          "id": 1,
          "thumbnail": "assets/images/lenses/gray-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/gray.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/gray_user.png",
          "apptextKey": "lensGray",
          "label": "Gray",
          "category": "Subtle",
          "categoryId": 1,
          "recommendations": {
            "eye": ["darkbrown", "hazel"],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }, {
          "id": 2,
          "thumbnail": "assets/images/lenses/blue-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/blue.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/blue_user.png",
          "apptextKey": "lensBlue",
          "label": "Blue",
          "category": "Subtle",
          "categoryId": 1,
          "recommendations": {
            "eye": [],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }, {
          "id": 3,
          "thumbnail": "assets/images/lenses/green-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/green.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/green_user.png",
          "apptextKey": "lensGreen",
          "label": "Green",
          "category": "Subtle",
          "categoryId": 1,
          "recommendations": {
            "eye": ["blue", "gray", "hazel", "lightbrown"],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }, {
          "id": 4,
          "thumbnail": "assets/images/lenses/pure-hazel-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/purehazel.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/purehazel_user.png",
          "apptextKey": "lensPureHazel",
          "label": "Pure Hazel",
          "category": "Subtle",
          "categoryId": 1,
          "recommendations": {
            "eye": ["black", "blue", "darkbrown", "gray", "green", "lightbrown"],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }, {
          "id": 5,
          "thumbnail": "assets/images/lenses/brown-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/brown.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/brown_user.png",
          "apptextKey": "lensBrown",
          "label": "Brown",
          "category": "Subtle",
          "categoryId": 1,
          "recommendations": {
            "eye": ["black"],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }, {
          "id": 6,
          "thumbnail": "assets/images/lenses/sterling-gray-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/sterlinggrey.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/sterlinggrey_user.png",
          "apptextKey": "lensSterlingGray",
          "label": "Sterling Gray",
          "category": "Vibrant",
          "categoryId": 2,
          "recommendations": {
            "eye": ["black", "blue", "green", "hazel", "lightbrown"],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }, {
          "id": 7,
          "thumbnail": "assets/images/lenses/brilliant-blue-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/brilliantblue.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/brilliantblue_user.png",
          "apptextKey": "lensBrilliantBlue",
          "label": "Brilliant Blue",
          "category": "Vibrant",
          "categoryId": 2,
          "recommendations": {
            "eye": ["darkbrown", "gray", "green", "hazel", "lightbrown"],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }, {
          "id": 8,
          "thumbnail": "assets/images/lenses/gemstone-green-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/gemstonegreen.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/gemstonegreen_user.png",
          "apptextKey": "lensGemstoneGreen",
          "label": "Gemstone Green",
          "category": "Vibrant",
          "categoryId": 2,
          "recommendations": {
            "eye": ["black", "blue", "darkbrown", "gray", "green"],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }, {
          "id": 9,
          "thumbnail": "assets/images/lenses/honey-big.png",
          "image": "vmo.storage.googleapis.com/products/Contacts/alcon/honey.png",
          "image_user": "vmo.storage.googleapis.com/products/Contacts/alcon/honey_user.png",
          "apptextKey": "lensHoney",
          "label": "Honey",
          "category": "Vibrant",
          "categoryId": 2,
          "recommendations": {
            "eye": [],
            "skin": ["fair-to-medium", "medium-to-dark"],
            "hair": ["blond-to-light-brown", "red", "brunette-or-black"]
          }
        }
      ];
      
      window.GLOBAL.aFilters = [
        {
          "id": 1,
          "thumbnail": "assets/images/filters/skin-smoothing.png",
          "image": "vmo.storage.googleapis.com/products/covereffects/generic/soften.png",
          "postProcess": "vmePostProcess('soften',32,0.35)",
          "label": "Skin smoothing"
        }, {
          "id": 2,
          "thumbnail": "assets/images/filters/brightness-and-contrast.png",
          "image": "vmo.storage.googleapis.com/products/covereffects/generic/brightness_contrast.png",
          "postProcess": "vmePostProcess('sharpen',0.25);vmePostProcess('colorMatrix',[1.4,0.0,0.0,0.0,-25,0.0,1.4,0.0,0.0,-25,0.0,0.0,1.4,0.0,-25,0.0,0.0,0.0,1.0,0.0]",
          "label": "Brightness and contrast"
        }, {
          "id": 3,
          "thumbnail": "assets/images/filters/vignette.png",
          "image": "vmo.storage.googleapis.com/products/covereffects/generic/vignette.png",
          "postProcess": "vmePostProcess('vignette',8421504)",
          "label": "Vignette"
        }
      ];
      
      window.GLOBAL.aFrames = [
        {
          "id": 1,
          "thumbnail": "vmo.storage.googleapis.com/products/covereffects/alcon/ornamental_tn.jpg",
          "image": "vmo.commondatastorage.googleapis.com/products/covereffects/alcon/%market%/ornamental_%color%_%lang%.png",
          "params": {},
          "label": "Ornamental"
        }, {
          "id": 2,
          "thumbnail": "vmo.storage.googleapis.com/products/covereffects/alcon/frosted_green_tn.jpg",
          "image": "vmo.commondatastorage.googleapis.com/products/covereffects/alcon/%market%/frosted_green_%color%_%lang%.png",
          "params": {},
          "label": "Green"
        }, {
          "id": 3,
          "thumbnail": "vmo.storage.googleapis.com/products/covereffects/alcon/artistic_tn.jpg",
          "image": "vmo.commondatastorage.googleapis.com/products/covereffects/alcon/%market%/artistic_%color%_%lang%.png",
          "params": {},
          "label": "Artistic"
        }, {
          "id": 4,
          "thumbnail": "vmo.storage.googleapis.com/products/covereffects/alcon/swoosh_tn.jpg",
          "image": "vmo.commondatastorage.googleapis.com/products/covereffects/alcon/%market%/swoosh_%color%_%lang%.png",
          "params": {},
          "label": "Gold"
        }, {
          "id": 5,
          "thumbnail": "vmo.storage.googleapis.com/products/covereffects/alcon/polaroid_tn.jpg",
          "image": "vmo.commondatastorage.googleapis.com/products/covereffects/alcon/%market%/polaroid_%color%_%lang%.png",
          "params": {},
          "label": "Instant"
        }, {
          "id": 6,
          "thumbnail": "vmo.storage.googleapis.com/products/covereffects/alcon/film_strip_tn.jpg",
          "image": "vmo.commondatastorage.googleapis.com/products/covereffects/alcon/%market%/film_strip_%color%_%lang%.png",
          "params": {},
          "label": "Film strip"
        }
      ];
      
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="assets/js/libs/iFrameResizer/iframeResizer.contentWindow.min.js"></script>
    <script src="assets/js/libs/yepnope.1.5.4-min.js"></script>
    <!-- Everything in one file -->
    <script src="assets/js/alcon_0.2.1.compiled.js"></script> 
    <!-- Script to manage visual part (not app)-->
    <script src="assets/js/interface.js"></script>
    <!-- Script to track clicks on controls-->
    <script src="assets/js/floodlight-tracking.js"></script>
    <script src="assets/js/libs/swiper.min.js"></script>
  </body>
</html>