#intro {
	height: auto!important;
	min-height: 450px!important;
}
article {
	padding: 30px 150px 0;
}
article h1, p {
	font-family: "poppins-medium", sans-serif;
}
article h1 {
	color: #fff;
	font-size: 4.1rem;
	text-align: center;
}
